@using System.Drawing
@using EPiServer.Web.Mvc.Html
@using ImageProcessor.Web.Episerver

@model ImageProcessor.Web.Episerver.UI.Models.Blocks.ProcessImageBlock

@if (EPiServer.Editor.PageEditing.PageIsInEditMode)
{
    <img src="@Model.GetMethods()" />
}
else
{
    <div>
        @Model.Image
    </div>
}